sudo: false
language: cpp
compiler:
  - gcc
  #- clang
os:
  - linux

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
   # - gcc-4.8
    - g++-7
   # - clang

before install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
install:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-7" CC="gcc-7"; fi
script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_CXX_COMPILER=$COMPILER .. && make
  - ./test/examples_test/01_module_test/ex_01_tests -s
  - ./test/classwork_test/01_assign_test/cw_01_tests -s
  - ./test/homework_test/01_expressions_test/hw_01_tests -s